html {
    height: 100%;
}

body {
    min-height: 100%;
    padding-top: 0;
}

* {
    border-radius: 0px !important;
}

.search-results a:hover {
    text-decoration: none;
    color: inherit;
}

.log-out-button {
    margin: 6px 0;
}

.row.flat {
    margin: 0;
}

.home-page {
}

.sentence-container {
}

.app-container {
    background-color: #EEEEEE;
    padding: 32px 32px 64px 32px;
}

.panel-default > .panel-heading {
    color: #000000;
    background-color: #9E9E9E;
    border-color: #757575;
}

.panel-heading,
.panel-body {
    padding: 12px;
}

.users-name-in-top-nav-bar {
    color: white;
    padding-right: 12px;
    align-self: center;
}

.header-container {
    padding: 0;
}

.welcome-message {
    padding-bottom: 8px;
    text-align: center;
    font-size: 42px;
}

.welcome-message-2 {
    font-size: 36px;
    padding-bottom: 8px;
    text-align: center;
}

.header-bar {
    width: 100%;
    border-color: #080808;
    background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
    padding: 0 16px;
    height: 50px;
}

.navbar-brand {
    color: #9d9d9d;
}

a.navbar-brand:focus {
    color: inherit;
}

.navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.user-name-and-log-out-button-container {
    display: flex;
    height: 100%;
}

.login-form-logout-container {
    height: 100%;
}

.search-bar-button-container {
    padding-bottom: 12px;
}

.language-in-search-result {
    text-transform: capitalize;
    font-size: 26px;
}

.sentence-in-search-result .sentence-text {
    font-size: 24px;
}

[uib-accordion-group].search-results .panel-body:not(.sentence-in-search-result) {
    padding: 0;
}

.search-results .panel {
    margin-bottom: 0;
}

/*override*/
.panel-group .panel + .panel {
    margin-top: 24px;
}

.original-sentence-and-comment-container {
    background-color: #ffffff;
}

.original-sentence-container span {
    font-size: 32px;
}

/*row direction*/
.original-sentence-actions-container,
.likes-comments-translation-numbers-container {
    flex-direction: row;
    display: flex;
}

/*column direction*/
.original-sentence-and-comment-container,
.users-name-comment-and-action-container {
    flex-direction: column;
    display: flex;
}

.likes-comments-translation-numbers-container > span:not(:last-child) {
    padding-right: 8px;
}

.original-sentence-and-comment-container > div:not(.comments-section),
.comments-section > div {
    padding-left: 12px;
    padding-right: 12px;
}

.original-sentence-container {
    padding-top: 24px;
    padding-bottom: 24px;
}

.created-by-user-container {
    display: flex;
    justify-content: flex-end;
}

.original-sentence-actions-container {
    background-color: #9E9E9E;
}

.comment-container:nth-of-type(odd) {
    background-color: #B0BEC5;
}

.comment-container:nth-of-type(even) {
    background-color: #607D8B;
}

.original-sentence-actions-container > span:not(:last-child),
.comment-actions > span:not(:last-child) {
    padding-right: 12px;
}

.translation-header{
    font-size: 32px;
    font-weight: 500;
}
