html {
    height: 100%;
}

body {
    min-height: 100%;
    padding-top: 0;
}

* {
    border-radius: 0px !important;
}

.search-results a:hover {
    text-decoration: none;
    color: inherit;
}

.log-out-button {
    margin: 6px 0;
}

.row.flat {
    margin: 0;
}

.home-page {
}

.sentence-container {
}

.app-container {
    background-color: #eee;
    padding: 32px 32px 64px 32px;
}

.users-name-in-top-nav-bar {
    color: white;
    padding-right: 12px;
    align-self: center;
}

.header-container {
    padding: 0;
}

.welcome-message {
    padding-bottom: 8px;
    text-align: center;
    font-size: 42px;
}

.welcome-message-2 {
    font-size: 36px;
    padding-bottom: 8px;
    text-align: center;
}

.header-bar {
    width: 100%;
    border-color: #080808;
    background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
    padding: 0 16px;
    height: 50px;
}

.navbar-brand {
    color: #9d9d9d;
}

a.navbar-brand:focus {
    color: inherit;
}

.navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.user-name-and-log-out-button-container {
    display: flex;
    height: 100%;
}

.login-form-logout-container {
    height: 100%;
}

.search-bar-button-container {
    padding-bottom: 12px;
}

.language-in-search-result {
    text-transform: capitalize;
    font-size: 26px;
}

.sentence-in-search-result .sentence-text {
    font-size: 24px;
}

[uib-accordion-group].search-results .panel-body:not(.sentence-in-search-result) {
    padding: 0;
}

.search-results .panel {
    margin-bottom: 0;
}

/*override*/
.panel-group .panel + .panel {
    margin-top: 24px;
}