<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3 class="dark-grey">Registration</h3>

                    <div class="form-group col-lg-12">
                        <label>Username</label>
                        <input type="text" class="form-control" id="username" ng-model="something.username">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Password</label>
                        <input type="password" class="form-control" ng-model="something.password">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Email Address</label>
                        <input class="form-control" ng-model="something.email">
                    </div>

                    <button type="submit" class="btn btn-primary" ng-click="signup()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>